
	<div class="lp-banner">
	  <div class="jumbotron">
	    <div class="text-center">
	      <h2 class="jumbotron-title">每个程序员都有科技心</h2>
	      <p class="jumbotron-slogan">
	        极客范，科技心
	      </p>
	      <p class="jumbotron-lead"><a class="btn-lg lp-b-btn" href="/products">
	      	立刻选购</a>
	      </p>
	    </div>
	  </div>
	</div>


  <div class="lp-products pt60 pb60 lp-bg-gray">
		  <h3 class="text-center">精选科技</h3>
      
	</div>





  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div class="lp-advantage pt60 pb60">
		<h2 class="text-center">我们的优势</h2>
		<div class="container bc">
			<div class="row">
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn">
						<img class="lp-advantage-img" src="">
						<p class="lp-advantage-title f18 mt20">送货上门</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">我们与全国180多个城市的大型超市合作，每天有无数个快递员穿梭于您与超市之间。配送人员提供全天24小时送货服务。</p>
					</div>
				</div>

        <div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
						<img class="lp-advantage-img" src="">
						<p class="lp-advantage-title f18 mt20">保证到户安装妥当</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">不用担心您的桌面设置，我们将会有专业的团队协作您打造您的专属极客空间</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
						<img class="lp-advantage-img" src="">
						<p class="lp-advantage-title f18 mt20">正品行货</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">严格的质量把控，我们只销售全新、正品、高质量的产品。如果您对商品不满意，我们提供7天无理由退换货。您尽管放心地买。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
