<!-- ↓↓↓ 大图滚动banner 代码块↓↓↓ -->
  <div class="row">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <div class="overlay"></div>

      <!-- 默认三张图列表 -->
      <div class="banner">
        <ul class="carousel-indicators ">
          <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#bs-carousel" data-slide-to="1"></li>
          <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ul>
      </div>

      <!-- 文案部分 -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1"></div>
          <div class="hero row">
            <hgroup>
                <h1>你关注的 都在这里</h1>
                <h3>每个程序员都有科技心 打造自己的开发环境</h3>
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">
            <hgroup>
                <h1>极客范，科技心</h1>
                <h3>网罗科技新品 带你领略科技潮流</h3>
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3"></div>
          <div class="hero">
            <hgroup>
                <h1>立即选购</h1>
                <h3>查看更智能高效的生活工作方式</h3>
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>

      </div>
    </div>
  </div>
<!-- ↑↑↑ 大图滚动banner 代码块 ↑↑↑ -->







<!-- 精选科技 -->
   <section id="portfolio">
       <div class="container">
             <div class="row">
                 <div class="col-lg-12 text-center">
                     <h2>精选科技</h2>
                     <hr class="star-primary">
                 </div>
             </div>
           <div class="row">
               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">
                       <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LMOXU2HXR3.jpg" class="img-responsive" alt="Cabin">
                   </a>
               </div>

               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">
                       <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/3IJLXXN9OY.jpg" class="img-responsive" alt="Slice of cake">
                   </a>
               </div>

               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">
                       <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/486CHY0H1Q.jpg" class="img-responsive" alt="Circus tent">
                   </a>
               </div>

               <!-- <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">
                       <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/1X1V1T33QG.jpg" class="img-responsive" alt="Game controller">
                   </a>
               </div>

               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">
                       <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/FZZBQ4SQDT.jpg" class="img-responsive" alt="Safe">
                   </a>
               </div>

               <div class="col-sm-4 portfolio-item">
                   <a href="/products" class="portfolio-link" data-toggle="modal">

                       <img src="https://ws3.sinaimg.cn/large/006tNc79gy1ffs0ss97cdj30m80m87cy.jpg" class="img-responsive" alt="Submarine">
                   </a>
               </div> -->
           </div>
       </div>
   </section>




  <!-- 极客优势 -->
  <section id="main-advantage">
	<div class="lp-advantage pt60 pb60">
		<h2 class="title tc f22 pb50">极客优势</h2>
		<div class="container bc">
			<div class="row">
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn">
						<img class="lp-advantage-img" src="http://www.ship.sh/attachment/images/201508/201508281020413372.jpg">
						<p class="lp-advantage-title f18 mt20">急速配送</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">我们与全国多个物流公司合作，每天有无数个快递员穿梭于您与商城之间。</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
						<img class="lp-advantage-img" src="http://oshpgkho622162.t3.mcp.cn/style/images/sh03.jpg">
						<p class="lp-advantage-title f18 mt20">保证到户安装妥当</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">不用担心您的环境设置，我们将会有专业的团队协作您打造您的专属极客空间</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="lp-advantage-item bc pl20 pr20 tc wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
						<img class="lp-advantage-img" src="http://www.huipi.net/images/upload/image/20140717/20140717134454_23856.jpg">
						<p class="lp-advantage-title f18 mt20">正品行货</p>
						<p class="lp-advantage-desc f14 pl20 pr20 mt30">严格的质量把控，我们只销售全新、正品、高质量的产品。如果您对商品不满意，我们提供7天无理由退换货。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
  </section>
