/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require 'masonry/transitions'
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";


// 网页字体

body, button, input, select, textarea, code {
    font-family: "Heiti SC","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",verdana;
}
// 排序
 .sorts {
    overflow: hidden;
    padding: 20px 0;
    line-height: 1;
    border-top: 1px dashed #dedede;
    margin-top: 100px;
}
.sorts a {
  color: #333;
}
.default-view:visited {
  color: #b4a078;
}

.sorts a:hover{
        color: #b4a078;
   }

// 搜索框

.products-search-form {
  margin-top: 10px;
  padding-left: 20px;
  .search-bar {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    padding-right: 40px;

    .search-bar-input  {
      min-width: 300px;
      transition: 0.35s;
    }
  }
}

// common navbar
.navbar-default {
  margin-bottom: 0;
  border-radius: 0;
  background: #414141;
    .navbar-header {
      margin-left: 9%;
      a {
        font-size: 20px;
        color: #fff;
        transition: 0.35s;
      }
      a:hover {
        color: #D0CFCE;
      }
    }
    .navbar-nav li a {
      color: #fff;
      font-size: 16px;
      transition: 0.35s;
    }
    .navbar-nav li a:hover {
      color: #D0CFCE;
      text-decoration: none
    }

    .navbar-nav .dropdown-menu {
      padding-bottom: 0;
      padding-top: 0;
      a {
        text-align: center;
        color: #000;
      }
      li.divider:last-child {
        display: none;
      }
    }
    .login {
      border: 1px solid #fff;
      margin-top: 12px;
      padding: 3px 17px 3px 17px;
      margin-right: 130px;
      border-radius: 15px;
    }

 }

//---------- footer---
//
// footer {
//   height: 70px;
//   background-color: #414141;
//   p {
//     padding-top: 15px;
//     padding-bottom: 30px;
//     color: white;
//   }
// }


// landing page container 页面内容 ↓↓↓------



/*===== 轮播在 welcome scss=====*/




//----------- 第二块 精选科技 -------------//
section {
    padding: 100px 0;
    background: #E0E0E0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
}

#portfolio * {
    z-index: 2;
}

section h2 {
    margin: 0;
    font-size: 2em;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.portfolio-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*===== end =====*/


/*===== 第三块 首页-精选分类 三块灰的 =====*/
div.section {
  display: inline-block;
  vertical-align: top;
}

div.gallery {
  width: 66%;
  float: left;
  margin-top: 10px;
  margin-left: 17%;   //整体左右
}

.gallery div {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.gallery div:nth-child(1),
.gallery div:nth-child(2) {
  width:49%;
}

.gallery div:nth-child(3),
.gallery div:nth-child(4),
.gallery div:nth-child(5){
  width:32.6%;
}

.gallery div img {
  width: 100%;
  margin-bottom: 5px;
}


.gallerypage {
  margin-top: 50px;
}

.gallerypage h3 {
  margin-left: 200px;
}




 // 类别
    .tab-nav{
      float: left;
      margin-top: 56px;
      line-height: 1;
      height: 30px;
      position: relative;
      width: 100%;
    }
    .nav-item {
    float: left;
    padding: 6px 30px 0;
    font-size: 14px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
 .first {
     margin-left: 12px;
     padding-left: 30px;
 }

 //--footer
 .footer-fixed {
  background-color: rgb(245,245,245);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.footer-fixed h5 {
  margin-top: 2em;
  font-size: 1.6em;
}
.footer-fixed-p {
  text-align: justify;
  line-height: 2em;
  letter-spacing: 0.1em;
}

 .m-siteEnsure {
    margin-bottom: 30px;
    list-style: none;
}
.m-siteEnsure .item {
    float: left;
    width: 33.333333%;
    text-align: center;
}
.m-siteEnsure .item .inner {
    color: rgba(106,102,102, 0.8);
    font-size: 18px;
    line-height: 51px;
    display: inline-block;
    vertical-align: middle;
}

// 整体

 html {

     position: relative;
       min-height: 100%;
    }
 body {

     margin-top: 20px;
     margin-bottom: 100px;                              // footer固定底部
    //  display: flex;                                      // footer固定底部
    //  flex-direction: column;                             // footer固定底部
     padding-top: 30px;                                  // 腾出navbar的遮挡空间
     color: #666;                                        // 修改全站的 字体主色
     font-size: 1.2em;                                   // 网站所有字体缩小比例
  }


  /* 登陆页面 */

.login-page, .sign-up-page {
  margin-top: 120px;
  margin-bottom: 80px;
  span {
    display: inline-block;
    margin-right: 15px;
  }
  form {
    max-width: 480px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: inset 0 1px 1px #9daaaf, 0 0 8px #c1c5c1;
    h2 {
      margin-bottom: 30px;
    }
    .form-control {
      position: relative;
  	  font-size: 20px;
  	  height: auto;
  	  padding: 10px;
      transition: 1s;
  		@include box-sizing(border-box);
      &:focus {
        box-shadow: 1px 1px #fff;
  		}
    }
  }

}
  .col-md-4 col-md-offset-4 login-page {
    background-color: #233140;
  }

  ///-----登陆页面 背景图----

  .user_setup{
     margin: 0 relative;
     margin-top: -20px;
     height: 1000px;

     background: image_url("user_setup.jpg") no-repeat scroll top center/ cover;  //背景图
  }


  // 商品展示页
    .product-list-style {                                 //图片+文字 块样式整形
      margin: 2em auto 2em;
    }
    .product-list-style-img {                             //文字 块样式整形
      margin-bottom: 1.2em;
    }
    .all-product-box {
      margin-bottom: 3em;
    }


    //----------- 优势 ------------//

    .lp-advantage pt60 pb60 {
      background: #E0E0E0;
    }

    .pb60 {
        padding-bottom: 60px;
    }

    .pt60 {
        padding-top: 60px;
    }

    .lp .title {
        font-weight: normal;
    }

    .pb50 {
        padding-bottom: 50px;
    }

    .tc {
        text-align: center;
    }

    .pr20 {
        padding-right: 20px;
    }

    .pl20 {
        padding-left: 20px;
    }

    .bc {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .tc {
        text-align: center;
    }

    .lp-advantage .lp-advantage-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    img {
        vertical-align: middle;
        border: 0;
    }

    .lp-advantage .lp-advantage-title {
        color: #444;                //logo下面一行 字体的颜色
        line-height: 1.2;
    }

    .mt20 {
        margin-top: 20px;
    }

    .f18 {
        font-size: 18px;
    }

    .lp-advantage .lp-advantage-desc {
        line-height: 1.7;
        letter-spacing: 0;
        font-size: 16px;
    }

    .mt30 {
        margin-top: 30px;
    }
