/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require 'masonry/infinitescroll'
 *= require bootstrap-wysihtml5
 *= require_tree .

 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

// 网页字体

body, button, input, select, textarea, code {
    font-family: "Heiti SC","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",verdana;
}

// 类别
   .categoryProducts{

     float: left;
     margin-top: 20px;
     line-height: 6;
     height: 30px;
     position: relative;
     width: 100%;
     border-top: 1px dashed #dedede;
   }
   .name {
   font-size: 14px;
   color: #999;
   float: left;
   margin-right: 22px;
}
   .categoryItem {
     float: left;
      margin-right: 30px;
      margin-bottom: 16px;
      font-size: 14px;
  }


  .categoryProducts a {
    color: #333;
  }

.categoryProducts a:hover{
        color: #b4a078;
   }
// 排序
 .sorts {
    overflow: hidden;
    padding: 20px 0;
    line-height: 1;
    border-top: 1px dashed #dedede;
    margin-top: 100px;
        border-bottom: 1px solid #eaeaea;
}
.sorts a {
  color: #333;
}
.default-view:visited {
  color: #b4a078;
}

.sorts a:hover{
        color: #b4a078;
   }

// 搜索框

.products-search-form {
  margin-top: 10px;
  padding-left: 20px;
  .search-bar {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    padding-right: 40px;

    .search-bar-input  {
      min-width: 300px;
      transition: 0.35s;
    }
  }
}

// common navbar
.navbar-default {
  margin-bottom: 0;
  border-radius: 0;
  background: #414141;
    .navbar-header {
      margin-left: 9%;
      a {
        font-size: 20px;
        color: #fff;
        transition: 0.35s;
      }
      a:hover {
        color: #D0CFCE;
      }
    }
    .navbar-nav li a {
      color: #fff;
      font-size: 16px;
      transition: 0.35s;
    }
    .navbar-nav li a:hover {
      color: #D0CFCE;
      text-decoration: none
    }

    .navbar-nav .dropdown-menu {
      padding-bottom: 0;
      padding-top: 0;
      a {
        text-align: center;
        color: #000;
      }
      li.divider:last-child {
        display: none;
      }
    }

 }





// landing page container 页面内容 ↓↓↓------



/*=====第一块 轮播在 welcome scss=====*/




/*===== 第二块  精选科技=====*/
.show-box {
  text-align: center;
  padding: 50px 0 50px 0;

  img {
    width: 100%;
  }

  .box {
	  margin-top: 15px;
	  box-shadow: 1px 1px 1.5px #ccc;
	}

  .three {
    margin-top: 12px;
  }

  .box:hover {
    opacity: 0.85;
  }
}

/*=====  以上 =====*/

/*===== 以上 =====*/



/*===== 第三块 首页-商品分类 三块灰的 =====*/
.categories-box {
  margin: 15px;
  background-color: #F5F5F5;
  text-align: center;

  a {
    text-decoration:none;
    color: #002E2E;
  }

  img {
    width: 300px;
    height: 200px;
    border-radius: 4px;
  }

  /*===== Content 分类內容 =====*/
  .category-content {
    padding: 50px 0 0 0;

    // border-right: 2.5px dashed #ccc;
    /*===== Box 分类图片 =====*/
    h3 {
      padding: 20px 0 20px 0;
      font-weight: 700;
      font-size: 18px;
    }

    p {
      text-align: justify;
      letter-spacing: 1.5px;
      padding: 0 62.5px 50px 62.5px;
      color: #666;
      line-height: 26px;

    }
  }
}





 // 类别
    .tab-nav{
      float: left;
      margin-top: 56px;
      line-height: 1;
      height: 30px;
      position: relative;
      width: 100%;
    }
    .nav-item {
    float: left;
    padding: 6px 30px 0;
    font-size: 14px;
}
// 解决冲突，加上父元素
.tab-nav li {
    display: list-item;
    text-align: -webkit-match-parent;
}
 .first {
     margin-left: 12px;
     padding-left: 30px;
 }


 //--footer
 .footer-fixed {
  background-color: rgb(245,245,245);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.footer-fixed h5 {
  margin-top: 2em;
  font-size: 1.6em;
}
.footer-fixed-p {
  text-align: justify;
  line-height: 2em;
  letter-spacing: 0.1em;
}

 .m-siteEnsure {
    margin-bottom: 30px;
    list-style: none;
}
.m-siteEnsure .item {
    float: left;
    width: 33.333333%;
    text-align: center;
}
.m-siteEnsure .item .inner {
    color: rgba(106,102,102, 0.8);
    font-size: 18px;
    line-height: 51px;
    display: inline-block;
    vertical-align: middle;
}

// 整体

 html {

     position: relative;
       min-height: 100%;
    }
 body {
    margin-top: 20px;
     margin-bottom: 100px;                              // footer固定底部
    //  display: flex;                                      // footer固定底部
    //  flex-direction: column;                             // footer固定底部
     padding-top: 30px;                                  // 腾出navbar的遮挡空间
     color: #666;                                        // 修改全站的 字体主色
     font-size: 1.2em;                                   // 网站所有字体缩小比例
     .content {
    flex: 1;                                           // footer固定底部
  }

  }




  /* 登陆页面 */

.login-page, .sign-up-page {
  margin-top: 120px;
  margin-bottom: 80px;
  span {
    display: inline-block;
    margin-right: 15px;
  }
  form {
    max-width: 480px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: inset 0 1px 1px #9daaaf, 0 0 8px #c1c5c1;
    h2 {
      margin-bottom: 30px;
    }
    .form-control {
      position: relative;
  	  font-size: 20px;
  	  height: auto;
  	  padding: 10px;
      transition: 1s;
  		@include box-sizing(border-box);
      &:focus {
        box-shadow: 1px 1px #fff;
  		}
    }
  }

}
  .col-md-4 col-md-offset-4 login-page {
    background-color: #233140;
  }


  ///-----登陆页面 背景图----

  .user_setup {
     margin: 0 relative;
     margin-top: -20px;
     height: 1000px;

     background: image_url("user_setup.jpg") no-repeat scroll top center/ cover;  //背景图
  }


  // 商品展示页
    .product-list-style {                                 //图片+文字 块样式整形
      margin: 2em auto 2em;
    }
    .product-list-style-img {                             //文字 块样式整形
      margin-bottom: 1.2em;
    }
    .all-product-box {
      margin-bottom: 3em;
    }

  .label {
   font-weight: normal;
}

.label-competition-new {
   left: 32px;
   background-color: #C30B1C;
}

.label-meetup {
   position: absolute;
   top: 2px;
   left: 48px;
   padding: 3px 5px;
   -webkit-padding-before: 3px;
   -webkit-padding-end: 5px;
   -webkit-padding-after: 3px;
   -webkit-padding-start: 5px;
   font-size: 12px;
   transform: scale(0.833);
   border-radius: 10px;
    background-color: #C30B1C;
}

.label {
   display: inline;
   padding: .2em .6em .3em;
   font-size: 75%;
   font-weight: bold;
   line-height: 1;
   color: #fff;
   text-align: center;
   white-space: nowrap;
   vertical-align: baseline;
   border-radius: .25em;
}

//----------- 优势 ------------//
    .lp-advantage pt60 pb60 {
      background: #E0E0E0;
    }
    .pb60 {
        padding-bottom: 60px;
    }
    .pt60 {
        padding-top: 60px;
    }
    .lp .title {
        font-weight: normal;
    }
    .pb50 {
        padding-bottom: 50px;
    }
    .tc {
        text-align: center;
    }
    .pr20 {
        padding-right: 20px;
    }
    .pl20 {
        padding-left: 20px;
    }
    .bc {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .tc {
        text-align: center;
    }
    .lp-advantage .lp-advantage-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    img {
        vertical-align: middle;
        border: 0;
    }
    .lp-advantage .lp-advantage-title {
        color: #444;                //logo下面一行 字体的颜色
        line-height: 1.2;
    }
    .mt20 {
        margin-top: 20px;
    }
    .f18 {
        font-size: 18px;
    }
    .lp-advantage .lp-advantage-desc {
        line-height: 1.7;
        letter-spacing: 0;
        font-size: 16px;
    }
    .mt30 {
        margin-top: 30px;
    }


  // 顾客反馈
  #customer-feedback {
  padding-bottom: 50px;
  background-color:#fff;
  padding-top: 20px;
  .col-md-4 {
    padding: 15px 10px;
    .quote-box-1 {
      padding: 30px 30px;
      background-color: #FFF;
      color: rgba(0, 0, 0, 0.5);
      line-height: 2em;
      border:0.5px solid  #faf6ec;
      margin-top:-41px;
      position: relative;
      z-index:1;
      .fa{
        color:#faf6ec;
      }
    }
  }
}
.fd-avatar-box{
    // border:0.5px solid  #faf6ec;
    border-radius: 168px;
    width: 83px;
    height: 83px;
    // background-color: #fff;
    position: relative;

    z-index: 14;
    margin:0 auto;
    .fd-avatar-box-color-overlay{
      position: absolute;
      background-color: none;
      border-radius: 167px;
      height: 83px;
      width: 83px;

    }
    img {
      width: 100%;
      margin:1px auto;
      z-index: 15;
    }

}

// shaoyu kaishi youhua
.show-box h3:before {
    content: '';
    border-top: .5px solid #d0d3d9;
    width: 115px;
    position: absolute;
    margin-left: -120px;
    top: 14px;
}
.show-box h3:after {
    content: '';
    border-top: .5px solid #d0d3d9;
    width: 115px;
    position: absolute;
    margin-left: 3px;
    top: 14px;
}
.show-box h3 {
    position: relative;
    text-align: center;
    font-size: 28px;
    color: #464d5c;

}
.show-box {
    position: relative;
    background-color: #f6f6f6;
    background: url(https://data.zi.com/5ebc0030c51be36dde1eb1e87a143dc9.svg) repeat 0 5px;
    -webkit-font-smoothing: antialiased;
}
// 首页－－购买
.buy-box {
  /* 区块 */
  text-align: center;
  padding: 75px 0 0 0;
  height: 200px;
  background: url(/images/show.jpg) no-repeat scroll top center/ cover; //背景图片

}
/* 按钮 */
.btn-push {
  background-color: transparent;
  color: #eee;
  background-color: rgba(145,151,151,0.7); //半透明背景
  padding: 10px 20px;
  font-size: 20px;

  /* 显示特效 */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* 按钮-鼠标滑动效果 */
.btn-push:hover {
  background-color: rgba(252,252,252,0.8);
  border-color: #0070DE;
}
