// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 页面调整
 .product-show {
     margin-bottom: 2em;
  margin-top: 4em;

}


<<<<<<< HEAD

// 商品价格样式
.product-price-bgcolor {
  background-color: #f5f5f5;
  padding: 1.5em 1em;
  margin-bottom: 1em;
}
.product-price {
  font-size: 3em;
  color: #7f8c8d;
  font-weight: lighter;
}


//商品库存样式
.product-quantity {
  margin: 1.5em auto;
}

//商品详情区域样式
.product-particulars {
  margin: 1.1em 0 3em;
}
.product-particulars-box {
  border: 1px solid #e3e3e3;
  border-top: none;
  padding: 2em 1.2em;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1.6em;
  img {
    max-width:100%;height:auto;             //重要样式代码，需要配合application.js的自适应代码块一起使用
    }
}

// 商品品论区域样式
.review-comment-form {
  text-align: left;
  padding: 2em 2em;
}
.review-comment-button {
  text-align: left;
  padding: 0 2em;
  margin-top: -2em;
}
.reviews {
  text-align: left;
  li {
    list-style: none;
  }
}
.review-user-email {
  font-weight: bold;
}
.review-comment {
  margin: 1em auto;
}
.review-hr {
  padding: 0 3em;
=======
>>>>>>> d778f99121e359beb5597eb20c378647d4355c4b
#pins {
  margin: 0 auto;
  width: 100%;
  .aa {
     margin: 10px;
     width: 225px;
     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
     text-align: center;
   padding: 0px;
     img {
       max-width: 100%;
       height: auto;
     }
   }
}

// .product-show .col-md-4{
//   padding-left: 5px;
//   padding-right: 5px;
// }

/* show page */
div.social-share-button {
    margin: 0 auto;
}

div.social-share-button .ssb-icon {
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
    margin-right: 15px;
    border-radius: 50%;
}

a.btn:hover{
  opacity:0.5;
  color:#fff;
}

a.btn{
height:40px;
font-size: 18px;
}

/* products#index */


.product-show {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 80px;
}

.product-show .introduction {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}
.product-show .introduction-sub {
  text-align: right;
  font-size: 30px;
}

.product-show img{
 width: 100%;
 height: 200px;
 display: inline-block;
 vertical-align: middle;
 -moz-transition: transform 10s;
 -webkit-transition: transform 10s;
}

.product-show .filter {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
}

.product-show .filter span {
  margin-right: 20px;
  a{
    color: rgba(0, 0, 0, 0.5);
  }
  i.fa{
    color: rgba(0, 0, 0, 0.3);
  }
  a:hover{
    text-decoration: none;
  }
}

.product-show .aa {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  transition: 0.35s;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  &:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.22);
  }
  span{
    font-size: 16px;
  }
}
