// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 页面调整
 .product-show {
  margin-bottom: 2em;
  margin-top: 4em;
}


// 商品价格样式
.product-price-bgcolor {
  background-color: #f5f3ef;  //价格框背景颜色
  padding: 1.5em 1em;
  margin-bottom: 1em;
}
.product-price {
  font-size: 3em;
  color: #333333;    //价格字体颜色
  font-weight: lighter;
}


//商品库存样式
.product-quantity {
  margin: 1.5em auto;
}

//商品详情区域样式
.product-particulars {
  margin: 1.1em 0 3em;
}
.product-particulars-box {
  border: 1px solid #e3e3e3;
  border-top: none;
  padding: 2em 1.2em;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1.6em;
  img {
    max-width:100%;height:auto;             //重要样式代码，需要配合application.js的自适应代码块一起使用
    }
}

//购物指南区域样式
.product-recommend {
  background-color: #f5f3ef;
  border-radius: 4px;
  margin: 1em 0 3em;
  padding: 20px 50px 20px 50px;
  line-height: 1.6em;
  text-align: justify;
}


/*------商品展示页-----*/

.product-content img {
    width: 100%;
    margin: 7.5px auto 7.5px auto;
  }

  .product-info {
     text-align: left;
     line-height: 14px;
     min-height: 55px;
   }

.product-box {
  text-align: center;
  padding: 0 0 100px 0;
  background: #F5F5F5;

.background-image {
    width: 100%;
    margin-bottom: 20px;
  }

  p{
    color: #e74c3c !important;
  }

  a{
    color: #666 !important;
  }

  a:hover {
  color: #e74c3c !important; //鼠标点击商品名称反馈

  img {
    opacity: 0.8; //鼠标放在图片上的显示
  }
}
}
