// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 页面调整
 .product-show {
  margin-bottom: 2em;
  margin-top: 4em;
}

.fl {
    float: left;
    display: inline;
}

.pr {
    position: relative;
}

.intro-bigPic {
    width: 420px;
    height: 420px;
}

.intro-bigPic img {
    width: 100%;
}

.intro-preview {
    margin-top: 15px;
    padding-left: 0px;
}

 .border {
     border: 1px solid #DDDDDD;
 }

.magnifier-preview {
    position: absolute;
    width: 418px;
    height: 420px;
    left: 418px;
    top: -1px;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    visibility: hidden;
}

.magnifier-thumb-wrapper {
    position: relative;
    display: block;
    top: 0;
    left: 0;
}

.intro-preview .intro-preview-activeItem {
    border-color: #DB3652;
}

.fr {
    float: right;
    display: inline;
}

.intro-text {
    width: 730px;
}


.intro-text h3 {
    margin-top: 0;
    line-height: 30px;
}

.ell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.fb {
    font-weight: bold;
}

.f20 {
    font-size: 20px;
}

.intro-text-desc {
    margin-top: 7px;
}


.bg-gray {
    background: #F5F5F5;
}

.intro-text-value {
    height: 60px;
    line-height: 60px;
}

.intro-text-service {
    height: 50px;
    line-height: 50px;
}

.pr30 {
    padding-right: 30px;
}

.pl20 {
    padding-left: 20px;
}

.col-black {
    color: #222;
}

.cart_delete {
  padding-right: 15px;
  margin-top: 20px;

}

.f24 {
    font-size: 24px;
}

.intro-text-btn.add-cart {
    color: #fff;
}

.bg-red {
    background: #D32048;
}

.intro-text-btn {
    display: block;
    width: 178px;
    height: 48px;
    line-height: 45px;
    border: 1px solid #d32048;
    font-family: "Microsoft Yahei",simhei;
    border-radius: 50px;
}

.pr15 {
    padding-right: 15px;
}

.pl15 {
    padding-left: 15px
}

.ml20 {
    margin-left: 20px;
}

.show-page, .search-page {
    width: 1200px;
}

.intro-preview .intro-preview-item img {
    width: 70px;
    height: 70px;
}

.intro-preview .intro-preview-item {
    padding: 1px;
    margin-right: 13px;
    overflow: hidden;
}

.ml20 {
    margin-left: 20px;
}

.show-page {
    width: 1200px;
}
.intro-bigPic {
width: 420px;
height: 420px;
img {
 width: 100%;
}
}

.intro-preview {
margin-top: 15px;
.intro-preview-item {
 padding: 1px;
 margin-right: 13px;
 overflow: hidden;
 img {
   width: 100%;
   width: 70px;
   height: 70px;
 }
}
.intro-preview-activeItem {
 border-color: #DB3652;
}
}



// 商品价格样式
.product-price-bgcolor {

  background-color: #f5f3f4;  //价格框背景颜色



  padding: 1.5em 1em;
  margin-bottom: 1em;
}
.product-price {
  font-size: 3em;

  color: #333333;    //价格字体颜色


  font-weight: lighter;
}


//商品库存样式
.product-quantity {
  margin: 1.5em auto;
}

//商品详情区域样式
.product-particulars {
  margin: 1.1em 0 3em;
}
.product-particulars-box {
  border: 1px solid #e3e3e3;
  border-top: none;
  padding: 2em 1.2em;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1.6em;
  img {
    max-width:100%;height:auto;             //重要样式代码，需要配合application.js的自适应代码块一起使用
    }
}

//购物指南区域样式
.product-recommend {
  background-color: #f5f3ef;
  border-radius: 4px;
  margin: 1em 0 3em;
  padding: 20px 50px 20px 50px;
  line-height: 1.6em;
  text-align: justify;
}


/*------商品展示页-----*/

.product-content img {
    width: 100%;
    margin: 7.5px auto 7.5px auto;
  }

  .product-info {
     text-align: left;
     line-height: 14px;
     min-height: 55px;
   }

.product-box {
  text-align: center;
  padding: 0 0 100px 0;
  background: #F5F5F5;

.background-image {
    width: 100%;
    margin-bottom: 20px;
  }

  p{
    color: #e74c3c !important;
  }

  a{
    color: #666 !important;
  }

  a:hover {
  color: #e74c3c !important; //鼠标点击商品名称反馈

  img {
    opacity: 0.8; //鼠标放在图片上的显示
  }
}
}
//商品排版
#pins {
  margin: 10px auto;
  width: 100%;

  .product-box {

      margin: 10px;
     width: 210px;
     product-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
     text-align: left;
   padding: 0px;
     img {
       margin-right: 10px;
       max-width: 100%;
       height: auto;
     }
   }
}

// .product-show .col-md-4{
//   padding-left: 5px;
//   padding-right: 5px;
// }

/* show page */
div.social-share-button {
    margin: 0 auto;
}

div.social-share-button .ssb-icon {
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
    margin-right: 15px;
    border-radius: 50%;
}

a.btn:hover{
  opacity:0.5;
  color:#0288d1;
}

a.btn{
height:40px;
font-size: 18px;
}

/* products#index */


.product-show {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 80px;
}

.product-show .introduction {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}
.product-show .introduction-sub {
  text-align: right;
  font-size: 30px;
}

.product-show img{
 width: 100%;
 width: 428px;
height: 428px;
 // height: 200px;
 display: inline-block;
 vertical-align: middle;
 -moz-transition: transform 10s;
 -webkit-transition: transform 10s;
}

.product-show .filter {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
}

.product-show .filter span {
  margin-right: 20px;
  a{
    color: rgba(0, 0, 0, 0.5);
  }
  i.fa{
    color: rgba(0, 0, 0, 0.3);
  }
  a:hover{
    text-decoration: none;
  }
}


.product-show .aa {

.product-show .product-box {

  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  transition: 0.35s;
  // product-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  // &:hover{
  //   product-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.22);
  // }
  span{
    font-size: 16px;
  }
}
}


/*------商品展示页-----*/
.product-content img {
    width: 100%;
    margin: 7.5px auto 7.5px auto;
  }
  .product-info {
     text-align: left;
     line-height: 14px;
     min-height: 55px;
   }
.product-box {
  text-align: center;
  padding: 0 0 100px 0;
  background: #F5F5F5;
.background-image {
    width: 100%;
    margin-bottom: 20px;
  }
  p{
    color: #e74c3c !important;
  }
  a{
    color: #666 !important;
  }
  a:hover {
  color: #e74c3c !important; //鼠标点击商品名称反馈
  img {
    opacity: 0.8; //鼠标放在图片上的显示
  }
}
}
//fangdajing
/*放大镜*/
// .magnifier-thumb-wrapper {
//     position: relative;
//     display: block;
//     top: 0;
//     left: 0
// }
//
// .magnifier-lens {
//     position: absolute;
//     border: solid 1px #ccc;
//     z-index: 1000;
//     top: 0;
//     left: 0
// }
//
// .magnifier-loader {
//     position: absolute;
//     top: 0;
//     left: 0;
//     border: solid 1px #ccc;
//     color: #fff;
//     text-align: center;
//     background: transparent;
//     background: rgba(50, 50, 50, 0.5);
//     z-index: 1000;
//     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)";
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)
// }
//
// .magnifier-loader-text {
//     font: 13px Arial;
//     margin-top: 10px
// }
//
// .magnifier-preview {
//     position: absolute;
//     width: 418px;
//     height: 420px;
//     left: 418px;
//     top: -1px;
//     padding: 0;
//     z-index: 1000;
//     overflow: hidden;
//     visibility: hidden;
// }
//
// .magnifier-preview img {
//     position: absolute;
//     top: 0;
//     left: 0
// }
//
// .opaque {
//     opacity: .5;
//     filter: alpha(opacity=50);
//     -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50)
// }
//
// .hidden {
//     display: none
// }
// #thumb-lens {
//      background-size: 415px 415px !important;
//  }


// 月颜大神
div.zoomDiv {
z-index: 999;
position: absolute;
top: 0;
left: 0;
width: 420px;
height: 420px;
background: #ffffff;
border: 1px solid #f2f2f2;
display: none;
text-align: center;
overflow: hidden;
margin-left: 10px;
}
div.zoomMask {
  position: absolute;
  background: url(/images/mask.png) repeat scroll 0 0 transparent;
  cursor: move;
  z-index: 1;
}

// .border .intro-preview-activeItem .fl:hover{
//   border: 1px solid #DB3652;;
// }
.intro-preview-item:hover{
  border: 1px solid #DB3652;;
}
