<footer class="footer-fixed">
  <div class="container">
    <div class="row">
      <ul class="m-siteEnsure">
          <li class="item">
          <div class="inner"><i class="icon w-icon-normal icon-normal-ft1"></i><p class="text">30天无忧退货</p></div>
          </li>
          <li class="item">
          <div class="inner"><i class="icon w-icon-normal icon-normal-ft2"></i><p class="text">康老板很横，不包邮</p></div>
          </li>
          <li class="item">
          <div class="inner"><i class="icon w-icon-normal icon-normal-ft3"></i><p class="text">品质保证</p></div>
          </li>
       </ul>
    </div>
    <div class="row">
      <p class="text-center">Copyright ©2017 JDStore
          <br>Design by 少羽 & 智康
      </p>
    </div>
  </div>
</footer>
